@import '../../assets/style/default.scss';

$btn-prefix-cls: #{$prefix}-btn;

.#{$btn-prefix-cls} {

   line-height: 1.499;
   position: relative;
   display: inline-block;
   font-weight: 400;
   white-space: nowrap;
   text-align: center;
   background-image: none;
   border: 1px solid transparent;
   box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
   cursor: pointer;
   transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
   user-select: none;
   touch-action: manipulation;
   height: 32px;
   padding: 0 15px;
   font-size: 14px;
   border-radius: 4px;
   color: rgba(0, 0, 0, 0.65);
   background-color: #fff;
   border-color: #d9d9d9;

   &:active,
   &:focus {
      outline: 0;
   }

   &:hover,
   &:focus {
      color: #40a9ff;
      background-color: #fff;
      border-color: #40a9ff; 
   }

   &:hover,
   &:focus,
   &:active,
   &.active  {
      text-decoration: none;
      background: #fff;
   }
   
   > i, 
   > span {
      display: inline-block;
      -webkit-transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: margin-left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      pointer-events: none;
  }

   > i + span,
   > span + i {
      margin-left: 8px;
   }

   &-lg {
      height: 40px;
      padding: 0 15px;
      font-size: 16px;
      border-radius: 4px;
  }

   &-sm {
      height: 24px;
      padding: 0 7px;
      font-size: 14px;
      border-radius: 4px;
   }

   &-primary {
      color: #fff;
      background-color: #1890ff;
      border-color: #1890ff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

      &:hover,
      &:focus {
         color: #fff;
         background-color: #40a9ff;
         border-color: #40a9ff;     
      }
   }


   &-link {

      color: #1890ff;
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;

      &:hover,
      &:focus {
         color: #40a9ff;
         background-color: transparent;
         border-color: #40a9ff;
      }

      &:hover,
      &:focus,
      &:active{
         border-color: transparent;
      }
   }

   &-dashed {
      color: rgba(0, 0, 0, 0.65);
      background-color: #fff;
      border-color: #d9d9d9;
      border-style: dashed;

      &:hover, 
      &:focus {
         color: #40a9ff;
         background-color: #fff;
         border-color: #40a9ff;
     }
   }

   &-danger {
      color: #fff;
      background-color: #ff4d4f;
      border-color: #ff4d4f;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
      -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

      &:hover, 
      &:focus {
         color: #fff;
         background-color: #ff7875;
         border-color: #ff7875;
     }
   }

   &-icon-only {
       width: 32px;
       height: 32px;
       padding: 0;
       font-size: 16px;
       border-radius: 4px;
    }

   &-circle,
   &-circle-outline {
      min-width: 32px;
      padding-right: 0;
      padding-left: 0;
      text-align: center;
      border-radius: 50%;
   }

   &-group {
      position: relative;
      display: inline-block;

      .#{$btn-prefix-cls} {
         border-radius: 0;
      }

      .#{$btn-prefix-cls} + .#{$btn-prefix-cls},
      span + .#{$btn-prefix-cls},
      .#{$btn-prefix-cls} + span,
      > span + span,
      + .#{$btn-prefix-cls},
      + .#{$btn-prefix-cls}-group {
         margin-left: -1px;
      }

      .#{$btn-prefix-cls}-primary:last-child:not(:first-child),
      .#{$btn-prefix-cls}-primary + .#{$btn-prefix-cls}-primary {
         border-left-color: #40a9ff;
      }

      > .#{$btn-prefix-cls}:first-child:not(:last-child),
      > span:first-child:not(:last-child) > .#{$btn-prefix-cls} {
         border-top-left-radius: 4px;
         border-bottom-left-radius: 4px;
     }

      > .#{$btn-prefix-cls}:last-child:not(:first-child),
      > span:last-child:not(:first-child) > .#{$btn-prefix-cls} {
         border-top-right-radius: 4px;
         border-bottom-right-radius: 4px;
      }

      .#{$btn-prefix-cls}-disabled,
      .#{$btn-prefix-cls}.disabled,
      .#{$btn-prefix-cls}[disabled],
      .#{$btn-prefix-cls}-disabled:hover,
      .#{$btn-prefix-cls}.disabled:hover,
      .#{$btn-prefix-cls}[disabled]:hover,
      .#{$btn-prefix-cls}-disabled:focus,
      .#{$btn-prefix-cls}.disabled:focus,
      .#{$btn-prefix-cls}[disabled]:focus,
      .#{$btn-prefix-cls}-disabled:active,
      .#{$btn-prefix-cls}.disabled:active,
      .#{$btn-prefix-cls}[disabled]:active,
      .#{$btn-prefix-cls}-disabled.active,
      .#{$btn-prefix-cls}.disabled.active,
      .#{$btn-prefix-cls}[disabled].active {
         color: rgba(0, 0, 0, 0.25);
         background-color: #f5f5f5;
         border-color: #d9d9d9;
         text-shadow: none;
         -webkit-box-shadow: none;
         box-shadow: none;
      }
      .#{$btn-prefix-cls}.disabled,
      .#{$btn-prefix-cls}[disabled] {
         cursor: not-allowed;
      }

      > .#{$btn-prefix-cls}:disabled,
      > span > .#{$btn-prefix-cls}:disabled {
         z-index: 0;
     }
   }
}